<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mi carrera perfecta</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form th:action="@{/carreras/buscar}" method="post"> 
            <input type="text" name="keyword" placeholder="Buscar carrera">
            <button type="submit">Buscar</button>
        </form>
        <div th:if="${searchResult != null}">
            <p>Resultados de la búsqueda:</p>
            <table border="1">
                <tr> 
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
                <tr th:each="career : ${searchResult}">
                    <td th:text="${career[0]}"></td> 
                    <td th:text="${career[1]}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${careers !=null and not #lists.isEmpty(careers)}">
            <table border="1">
                <tr> 
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
                <tr th:each="career: ${careers}">
                    <td th:text="${career[0]}"></td>
                    <td th:text="${career[1]}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${careers == null or careers.empty}">
            La lista de carreras esta vacia  
        </div>
    </body>
</html>
